
.class_container{
    width: 33.33%;
    height:  fit-content;
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin: 0 15px 20px 15px;
    font-family: 'Industry';

}
.find_class_container{
    width: 30%;
    height:  fit-content;
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-right: 25px;
    margin-bottom: 20px;
    font-family: 'Industry';

}



.class_level, .find_class_level{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    background: #1A272A 0% 0% no-repeat;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-size: 1vw;
    padding: 10px 20px;

}

.class_name, .find_class_name{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 1.5vw;
    font-weight: 600;
    color: #1A272A;
    padding-top: 20px;

}

.trainer_name, .find_trainer_name{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 1vw;
    font-weight: 200;
    color: #1A272A;
  
}

.class_format, .find_class_format{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    font-size: 1.125vw;
    font-weight: 500;
    justify-self: end;
    color: #1A272A;
}
.schedule, .find_schedule{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    font-size: 1.125vw;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    justify-self: end;
    color: #1A272A;

}
.schedule .schedule_time, .find_schedule .schedule_time{
    color: #E10321;
    margin-right: 8px;
    font-weight: 500;
}

.class_card_container{
    width: 30%;
    height:  fit-content;
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr;
    margin: 0 5px 10px 10px;
    font-family: "Industry";
 
}

.session_class_card_container{
    width: 45%;
    height:  45%;
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr;
    margin: 0 5px 10px 10px;
    font-family: "Industry";
 
}

.class_card_format{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 1.125vw;
    font-weight: 500;
    justify-self: start;
    color: #1A272A;

}
.class_card_schedule{
    grid-column: 1 / 3;
    grid-row: 4 / 5; 
    width: 100%;

}
.class_card_schedule_first{
    display: flex;
    justify-content: space-between;
    font-size: 1.125vw;

    /* justify-self: start; */
}
.class_card_schedule_second{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    justify-self: start;

}

.class_card_schedule .class_card_time{
    color: #E10321;
    margin-left: 5px;
}

.class_card_schedule_first p{
    color: #1A272A;

}
.class_card_schedule_second, .class_card_frequency{
    color: #0151C3;
    font-size: 1.375vw;
}

.class_btns{
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    margin: 20px auto 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
       
}

.class_btns a{
    text-decoration: none;
    color: #1A272A;
    width: fit-content;
    height: fit-content;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}



.card_btn:hover{
    background: #789BCD;
    color: #000;
}

.edit_class_btn{
    background: transparent;
    border: 1px solid #789BCD;
}
.delete_class_btn{
    background: #C01E34;
    color: #fff;
    border: none;
}

.delete_class_btn:hover{
    background: #D9DADC;
    color: #C01E34;
}


.find_card_btns{
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.find_card_btn a{
    text-decoration: none;
    color: #085644;
    width: 100%;
    height: 100%;
    font-size: 1vw;
    border-radius: 10px;
    padding: 6px 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.find_card_btn{
    width: fit-content;
    height: fit-content;
    font-size: 1vw;
    border-radius: 10px;
    padding: 6px 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}


.find_view_profile{
    border: 1px solid #789BCD;
}

.find_view_profile:hover{
    background: #2B4264;
    color: #ffffff;

}

.find_view_profile a:hover{
    color: #ffffff;

}

.find_add_trainer, .modal_add_btn{
    background: #2B4264;
    color: #ffffff;
}

.find_add_trainer:hover, .modal_add_btn:hover{
    background: transparent;
    color: #2B4264;
    border: 1px solid #789BCD;

}


/* .modal_background::before{
    content:"";
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #1A272A 0% 0% no-repeat padding-box;
    z-index: 30;
    opacity: 0.4;
} */

.modal_background{
    width: 100%;
    height: 100%;
    background: rgba(26, 39, 42, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_container{
    width: 30%;
    height: fit-content;
    z-index: 35;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 6px #1DAE8C;
    padding: 20px 30px;
    font-family: 'Industry';

}

.modal_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.modal_class_level{
    font-size: 1em;
    font-weight: 600;
    color: #1DAE8C;
}

.modal_return{
    font-size: 0.875em;
    font-weight: 600;
    cursor: pointer;
}

.modal_class_type{
    font-size: 2em;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

}
.modal_class_trainer{
    font-size: 1.125em;
    line-height: 24px;
    text-align: center;
}

.modal_class_format{
    font-size: 0.875em;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.modal_class_date, .modal_class_time{
    font-size: 1em;
    line-height: 24px;
    text-align: center;
    color: #1DAE8C;
    font-weight: 500;

}

.modal_class_description{
    font-size: 0.875em;
    line-height: 20px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
}

.modal_equipment_title{
    font-size: 1em;
    line-height: 24px;
    text-align: left;
    font-weight: 500;
}


.modal_equipment{
    font-size: 0.875em;
    line-height: 20px;
    text-align: left;

}

.modal_footer{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
   
}
.modal_class_btns{
    width: fit-content;
    height: fit-content;
    font-size: 1vw;
    border-radius: 10px;
    padding: 8px 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.modal_cancel_btn{
    background: #E10321;
    color: #ffffff;
}


.modal_cancel_btn:hover{
    background: transparent;
    color: #E10321;
    border: 1px solid #E10321;

}


@media (max-width: 1320px) and (min-width: 1120px){
    .class_name, .find_class_name{
        font-size: 1.325vw;        
    }
}

@media (max-width: 1180px) and (min-width: 1120px){
    .class_btns a{
        font-size: 1.5vw;
        padding: 6px 8px;
    }
}

@media (max-width: 1120px) and (min-width: 960px){

    .class_container{
        width: 45%;

    }


    .class_card_container{
        width: 45%;
        
     
    }

    .find_class_container{
        width: 45%;
    }

    .class_level, .find_class_level{
        
        font-size: 1.375vw;
        padding: 10px 20px;
    }

    
    .class_name, .find_class_name{
        font-size: 2vw;        
    }

    .trainer_name, .find_trainer_name{
        font-size: 1.25vw;                
    }

    .class_format, .find_class_format{
        font-size: 1.5vw;
    }

    .schedule, .find_schedule{
        font-size: 1.375vw;
        
    }

    .class_card_format{
        font-size: 1.5vw;
    }

    .class_card_schedule_first{       
        font-size: 1.5vw;
        font-weight: 500;
    
    }

    .class_card_schedule_second, .class_card_frequency{
        font-size: 1.625vw;
        font-weight: 500;
    }

    .class_btns a{
        font-size: 1.5vw;
        
    }

    .modal_container{
        width: 38%;
        padding: 20px 15px 10px 15px ;
    }

    .modal_class_btns{
        font-size: 1.25vw;
       
    }


}

@media (max-width: 960px) and (min-width: 700px){
    .class_container{
        width: 50%;

    }


    .class_card_container{
        width: 50%;
     
    }

 
}


@media (max-width: 960px) and (min-width: 840px){

    

    .class_level, .find_class_level{
        
        font-size: 1.5vw;
        padding: 10px 20px;
    }

    
    .class_name, .find_class_name{
        font-size: 2.5vw;        
    }

    .trainer_name, .find_trainer_name{
        font-size: 1.75vw;                
    }

    .class_format, .find_class_format{
        font-size: 2vw;
    }

    .schedule, .find_schedule{
        font-size: 1.75vw;
        
    }

    .class_card_format{
        font-size: 1.75vw;
    }

    .class_card_schedule_first{       
        font-size: 1.625vw;
        font-weight: 500;
    
    }

    .class_card_schedule_second, .class_card_frequency{
        font-size: 1.75vw;
        font-weight: 500;
    }

    .class_btns a{
        font-size: 2vw;
    }


    .find_class_container{
        width: 45%;
    }

    .find_card_btn a, .find_card_btn{        
        font-size: 1.75vw;
        
    }


    .modal_container{
        width: 42%;
        padding: 20px 15px 10px 15px ;
    }

    .modal_class_btns{
        font-size: 1.375vw;
       
    }



}

@media (max-width: 840px) and (min-width: 768px){

    .session_class_card_container{
        width: 46%;
        height:  45%;
             
    }

    .class_level, .find_class_level{
        
        font-size: 1.7vw;
        padding: 10px 20px;
    }

    
    .class_name, .find_class_name{
        font-size: 2.25vw;        
    }

    .trainer_name, .find_trainer_name{
        font-size: 1.75vw;                
    }

    .class_format, .find_class_format{
        font-size: 2vw;
    }

    .schedule, .find_schedule{
        font-size: 1.75vw;
        
    }

    .class_card_format{
        font-size: 1.875vw;
    }

    .class_card_schedule_first{       
        font-size: 1.5vw;
        font-weight: 500;
    
    }

    .class_card_schedule_second, .class_card_frequency{
        font-size: 2.5vw;
        font-weight: 500;
    }

    .class_btns a{
        font-size: 2vw;
    }

    .find_class_container{
        width: 45%;
    }

    .find_card_btn a, .find_card_btn{        
        font-size: 1.75vw;
    }

    .modal_container{
        width: 45%;
        padding: 20px 15px 10px 15px ;
    }

    .modal_class_btns{
        font-size: 1.375vw;
       
    }


}

@media (max-width: 768px) and (min-width: 700px){

    .session_class_card_container{
        width: 46%;
        height:  45%;
             
    }

    .class_level, .find_class_level{
        
        font-size: 1.7vw;
        padding: 10px 20px;
    }

    
    .class_name, .find_class_name{
        font-size: 2.25vw;        
    }

    .trainer_name, .find_trainer_name{
        font-size: 2vw;                
    }

    .class_format, .find_class_format{
        font-size: 2.25vw;
    }

    .schedule, .find_schedule{
        font-size: 2vw;
        
    }

    .class_card_format{
        font-size: 1.875vw;
    }

    .class_card_schedule_first{       
        font-size: 1.75vw;
        font-weight: 500;
    
    }

    .class_card_schedule_second, .class_card_frequency{
        font-size: 2.5vw;
        font-weight: 500;
    }

    .class_btns a{
        font-size: 1.75vw;
    }

    .find_class_container{
        width: 45%;
    }

    .find_card_btn a, .find_card_btn{        
        font-size: 1.75vw;
    }

    .modal_container{
        width: 48%;
        padding: 20px 15px 10px 15px ;
    }

    .modal_class_btns{
        font-size: 1.5vw;
       
    }


}


@media (max-width: 700px) and (min-width: 440px){
    .class_container{
        width: 80%;
        margin: auto;

    }


    .class_card_container{
        width: 80%;
        margin: auto;

     
    }

    .find_class_container{
        width: 90%;
    }

}


@media (max-width: 700px) and (min-width: 600px){
    .session_class_card_container{
        width: 46%;
        height:  38%;
        padding: 10px ;
             
    }
    
    .session_class_card_container .class_level, .session_class_card_container .find_class_level{        
        font-size: 1.625vw;
        padding: 10px 20px;
    }

    .session_class_card_container .class_name,  .session_class_card_container .find_class_name{
        font-size: 3.75vw;        
    }

    .session_class_card_container .class_card_format{
        font-size: 2.25vw;
    }

    .session_class_card_container .class_card_schedule_first{       
        font-size: 1.75vw;
        font-weight: 500;
    
    }

    .session_class_card_container .class_card_schedule_second, .session_class_card_container .class_card_frequency{
        font-size: 2.5vw;
        font-weight: 500;
    }

    .session_class_card_container .class_btns a{
        font-size: 1.5vw;
        padding: 6px 8px;
    }

    .modal_container{
        width: 60%;
        padding: 20px 15px 10px 15px ;
    }

    .modal_class_btns{
        font-size: 2vw;
       
    }


}

@media (max-width: 700px) and (min-width: 520px){



    .class_level, .find_class_level{        
        font-size: 2.25vw;
        padding: 10px 20px;
    }

    
    .class_name, .find_class_name{
        font-size: 3.75vw;        
    }

    

    .trainer_name, .find_trainer_name{
        font-size: 3vw;                
    }

    .class_format, .find_class_format{
        font-size: 3vw;
    }

    .schedule, .find_schedule{
        font-size: 3vw;
        
    }

    .class_card_format{
        font-size: 2.5vw;
    }

    .class_card_schedule_first{       
        font-size: 2.5vw;
        font-weight: 500;
    
    }

    .class_card_schedule_second, .class_card_frequency{
        font-size: 3vw;
        font-weight: 500;
    }

    .class_btns a{
        font-size: 3vw;
    }

   
    .find_card_btn a, .find_card_btn{        
        font-size: 2.5vw;
    }




}



@media (max-width: 600px) and (min-width: 520px){
    .session_class_card_container{
        width: 46%;
        height:  38%;
        padding: 10px ;
             
    }
    
    .session_class_card_container .class_level, .session_class_card_container .find_class_level{        
        font-size: 1.75vw;
        padding: 10px 20px;
    }

    .session_class_card_container .class_name,  .session_class_card_container .find_class_name{
        font-size: 4vw;        
    }

    .session_class_card_container .class_card_format{
        font-size: 2.5vw;
    }

    .session_class_card_container .class_card_schedule_first{       
        font-size: 1.875vw;
        font-weight: 500;
    
    }

    .session_class_card_container .class_card_schedule_second, .session_class_card_container .class_card_frequency{
        font-size: 3vw;
        font-weight: 500;
    }

    .session_class_card_container .class_btns a{
        font-size: 1.575vw;
        padding: 6px 8px;
    }

    .modal_container{
        width: 70%;
        padding: 20px 15px 10px 15px ;
    }

    .modal_class_btns{
        font-size: 2.25vw;
       
    }

}


@media (max-width: 520px) and (min-width: 440px){
    /* .session_class_card_container{
        width: 100%;
        height:  40%;
        padding: 10px;
             
    } */
    
    
    .class_level, .find_class_level{        
        font-size: 2.625vw;
        padding: 10px 20px;
    }

    
    .class_name, .find_class_name{
        font-size: 4.25vw;        
    }

    .trainer_name, .find_trainer_name{
        font-size: 3.5vw;                
    }

    .class_format, .find_class_format{
        font-size: 3.5vw;
    }

    .schedule, .find_schedule{
        font-size: 3.35vw;
        
    }

    .class_card_format{
        font-size: 3vw;
    }

    .class_card_schedule_first{       
        font-size: 3vw;
        font-weight: 500;
    
    }

    .class_card_schedule_second, .class_card_frequency{
        font-size: 4.5vw;
        font-weight: 500;
    }

    .class_btns a{
        font-size: 2.75vw;
    }

    
    .find_card_btn a, .find_card_btn{        
        font-size: 3vw;
    }



    .session_class_card_container{
        width: 46%;
        height:  38%;
        padding: 10px ;
             
    }
    
    .session_class_card_container .class_level, .session_class_card_container .find_class_level{        
        font-size: 1.75vw;
        padding: 10px 20px;
    }

    .session_class_card_container .class_name,  .session_class_card_container .find_class_name{
        font-size: 4vw;        
    }

    .session_class_card_container .class_card_format{
        font-size: 2.5vw;
    }

    .session_class_card_container .class_card_schedule_first{       
        font-size: 1.875vw;
        font-weight: 500;
    
    }

    .session_class_card_container .class_card_schedule_second, .session_class_card_container .class_card_frequency{
        font-size: 3vw;
        font-weight: 500;
    }

    .session_class_card_container .class_btns a{
        font-size: 1.575vw;
        padding: 6px 8px;
    }


    .modal_container{
        width: 75%;
        padding: 20px 15px 10px 15px ;
    }

    .modal_class_btns{
        font-size: 2.5vw;
       
    }



}

@media (max-width: 440px) and (min-width: 375px){

    .class_container{
        width: 100%;
        margin: auto;

    }


    .class_card_container{
        width: 100%;
        margin: auto;
        grid-template-rows: 0.7fr 1fr 0.5fr 0.3fr 0.3fr 1fr;

    }


    .class_level, .find_class_level{        
        font-size: 3vw;
        padding: 10px 20px;
    }

    
    .class_name, .find_class_name{
        font-size: 5vw;        
    }

    .trainer_name, .find_trainer_name{
        font-size: 3.75vw;                
    }

    .class_format, .find_class_format{
        font-size: 4vw;
    }

    .schedule, .find_schedule{
        font-size: 3.75vw;
        
    }

    .class_card_format{
        font-size: 3.5vw;
    }

    .class_card_schedule_first{       
        font-size: 3.25vw;
        font-weight: 500;
    
    }

    .class_card_schedule_second, .class_card_frequency{
        font-size: 5vw;
        font-weight: 500;
    }

    .class_btns a{
        font-size: 3.5vw;
    }

    .find_class_container{
        width: 95%;
    }

    .find_card_btn a, .find_card_btn{        
        font-size: 3.25vw;
    }


    .modal_container{
        width: 85%;
        padding: 20px 15px 10px 15px ;
    }

    .modal_class_btns{
        font-size: 2.75vw;
       
    }



}


@media (max-width: 375px) and (min-width: 280px){

    .class_container{
        width: 100%;
        margin: auto;

    }


    .class_card_container{
        width: 100%;
        margin: auto;
        padding: 10px;

    }


    .class_level, .find_class_level{        
        font-size: 3.5vw;
        padding: 5px 12px;
    }

    
    .class_name, .find_class_name{
        font-size: 5vw;        
    }

    .trainer_name, .find_trainer_name{
        font-size: 3.5vw;                
    }

    .class_format, .find_class_format{
        font-size: 5vw;
    }

    .schedule, .find_schedule{
        font-size: 3.25vw;
        
    }

    .class_card_format{
        font-size: 4.5vw;
    }

    .class_card_schedule_first{       
        font-size: 4vw;
        font-weight: 500;
    
    }

    .class_card_schedule_second, .class_card_frequency{
        font-size: 6vw;
        font-weight: 500;
    }

    .class_btns a{
        
        padding: 2px 5px;
        font-size: 4vw;
        
    }

    .find_class_container{
        width: 100%;
    }

    .find_card_btn a, .find_card_btn{        
        font-size: 3vw;
    }


    .modal_container{
        width: 95%;
        padding: 20px 15px 10px 15px ;
    }

    .modal_class_btns{
        font-size: 3.5vw;
       
    }


}