.header_bar{
    width: 100%;
    height: 12vh;
    background: transparent linear-gradient(90deg, #1DAE8C 0%, #1A272A 100%) 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: 0.5fr 9fr 0.5fr;
    grid-template-rows: 1fr;
    padding: 5px 0 5px 0;
    color: #fff;
    font-family: 'Industry';
    z-index: 20;
   
}

.header-content{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
   
}

.logo-container{
    width: 25%;
    height: 100%;
    margin-top: 1%;
}

.mobile-header-elements{
    display: none;
    margin-top: 3%;
    cursor: pointer;
    transition: all 2s ease-in-out;
    width: 40px;
    height: 25px;   
    z-index: 5;
 
}


.mobile-header-elements.none{
    display: none;
}


.header_elements{    
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    padding: 10px 0 5px 10em;
    font-size: 1.125em;


}

.header-logo{
    width: 100%;
    fill: #fff;
    font-weight: 600;
}


.header_navs, .header_empty{
    display: flex;
    width: 90%;
    height: 100%;
    padding: 0 0 10px 60px ;
    
}

.header_navs a{
    text-decoration: none;
    color: #fff;
}


.header_home, .header_role, .header_classes{
    margin-left: 30px;
    cursor: pointer;
}


.header_classes:hover, .header_role:hover, .header_home:hover{
    text-decoration: underline;
}


.logout{
    text-align: 'right';
    cursor: pointer;
    width: 5%;
    
  
  }
  
.logout:hover{  

    text-decoration: underline;
    
}
.open-menu{
    width: 100%;
    fill: #fff;
    
}

.close-menu{
    width: 60%;
    fill: #fff;

}



  /* ----------------media queries-------------------------------------- */ 

  @media (max-width: 1180px) and (min-width: 0px){

    .header_elements{
        display: none;
        
    }

    .mobile-header-elements{
        display: block;
                       
    }
    
  }


  @media (max-width: 1180px) and (min-width: 1120px){


    .open-menu{
        width: 100%;
        
    }

    .close-menu{
        width: 55%;
    }

    


  }

  @media (max-width: 1120px) and (min-width: 960px){



    .open-menu{
        width: 100%;
        
    }

    .close-menu{
        width: 55%;
    }

    

  }


   @media (max-width: 960px) and (min-width: 840px){


    .logo-container{
        width: 40%;  
        /* margin-top: 4%;         */
    }

    .open-menu{
        width: 100%;
        
    }

    .close-menu{
        width: 60%;
    }

    .mobile-header-elements{
        margin-top: 4%;
    }
    


  }


   @media (max-width: 840px) and (min-width: 769px){


    .logo-container{
        width: 38%;  
        /* margin-top: 4%;         */
    }

    .open-menu{
        width: 100%;
        
    }

    .close-menu{
        width: 60%;
    }

    .mobile-header-elements{
        margin-top: 4%;
    }
    


  }


   @media (max-width: 768px) and (min-width: 600px){


    .logo-container{
        width: 48%; 
        margin-top: 3%;        
    }

    .open-menu{        
        width: 100%;        
    }

    .close-menu{
        width: 80%;
    }

    .mobile-header-elements{
        width: 30px;
        height: 22px;
        margin-top: 5%;
    }
    


  }

   @media (max-width: 600px) and (min-width: 520px){


    .logo-container{
        width: 50%; 
        margin-top: 4%;        
    }

    .open-menu{        
        width: 100%;        
    }

    .close-menu{
        width: 80%;
    }

    .mobile-header-elements{
        width: 30px;
        height: 25px;
        margin-top: 6%;
    }
    


  }

   @media (max-width: 520px) and (min-width: 440px){


    .logo-container{
        width: 50%; 
        margin-top: 6%;        
    }

    .open-menu{        
        width: 100%;        
    }

    .close-menu{
        width: 80%;
    }

    .mobile-header-elements{
        width: 30px;
        height: 26px;
        margin-top: 7%;
    }
    


  }


   @media (max-width: 440px) and (min-width: 375px){


    .logo-container{
        width: 55%;  
        margin-top: 7%;        
    }

    .open-menu{
        width: 100%;
        
    }

    .close-menu{
        width: 60%;
    }

    .mobile-header-elements{
        width: 30px;
        height: 20px;
        margin-top: 9%;
    }
    


  }


   @media (max-width: 375px) and (min-width: 280px){


    .logo-container{
        width: 60%;  
        margin-top: 10%;        
    }

    .open-menu{
        width: 100%;
        
    }

    .close-menu{
        width: 60%;
    }

    .mobile-header-elements{
        width: 28px;
        height: 22px;
        margin-top: 12%;
    }
    


  }