
.user-menu-page{
    display: none;
    position: absolute;  
    transform: translateY(-200%);
    left: 0%;
    top: -4vh;
    width: 100%;
    height: 100%;
    background: #1A272A;
    z-index: 5;
    font-family: 'Industry';
    
}

.menu-page{
    display: none;
    position: absolute;
    transform: translateY(-200%);
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1A272A;
    z-index: 5;
    font-family: 'Industry';
       
}

.menu-header{
    display: block;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    
}

.no-user-menu-header{
    grid-template-columns: 0.5fr 9fr 1fr;
    padding: 0 10px;
    height: 10vh;
    margin: 40px auto 0;
}


.user-menu-header{
    grid-template-columns: 0.5fr 9fr 0.5fr;
    height: 12vh;
    padding: 10px;
}

.menu-mobile-elements{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 3%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    justify-self: end;

}

.header-close-menu{
    fill: #fff;
    width: 100%;

}

.mobile-m-open{
    position: fixed;
    top: 0;
    animation: m-m-open 1s forwards;
}

.mobile-m-close{
    animation: m-m-close 1s forwards;
}


.mobile-h-open{
    position: fixed;
    top: 0;
    animation: m-h-open 1s forwards;
}

.mobile-h-close{
    animation: m-h-close 1s forwards;
}

.user-mobile{

    width: 60%;
    height: 60%;
    margin: 120px auto;
    padding: 20px;
    color: #fff;
    font-size: 1.375em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.profile-mobile{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
   
}

.profile-mobile-links{
    width: 100%;
    height: fit-content;
    padding: 20px 20px;
    text-align: center;
    margin-top: 10px;
    transition: all 0.7s ease-in-out;
}

.profile-mobile-links:hover{
    background: #1DAE8C;
    color: #fff;
}

.profile-mobile a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;

}

.profile-mobile-logout{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: fit-content;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 1.5em;
    transition: all 0.7s ease-in-out;

}
.profile-logout{
    text-align: center;

}
.profile-mobile-logout:hover{
    background: #1DAE8C;
    color: #fff;
}

.mobile-logout{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: fit-content;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.no-profile-logout{
    text-align: center;
    
}

.mobile-logout:hover{
    background: #1DAE8C;
    color: #fff;
}

.no-user-mobile{

    width: 60%;
    height: 60%;
    margin: 5em auto 0;
    padding: 20px;
    color: #fff;
    text-align: center;
        
}

.mobile-nav-elements ul li{
    list-style: none;
    color: #fff;
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.mobile-nav-elements ul li:hover{
    background: #1DAE8C;
    color: #fff;
}

.mobile-nav-elements a{
    text-decoration: none;
}



@keyframes m-m-open {
    100% { transform: translateY(-15%);}
}



@keyframes m-m-close {
    0% { transform: translateY(-15%);}
    100% { transform: translateY(-200%);}
}

@keyframes m-h-open {
    100% { transform: translateY(-12%);}
}



.other-m-dropdown{
    position: absolute;
    left: 0%;
    transform: translateY(-200%);
    width: 100%;
    height: 100%;
    z-index: 50;
}

.mobile-od-open{
    position: fixed;
    top: 0;
    animation: om-open 1s forwards;
  }

  .mobile-od-close{
    animation: om-close 1s forwards;
  }

  @keyframes om-open {
    100% { transform: translateY(-15%);}
  }


  @keyframes om-close {
    0% { transform: translateY(-15%);}
    100% { transform: translateY(-200%);}
}






















@media (max-width: 1180px) and (min-width: 0px){
    .user-menu-page{
        display: block;        
        
    }

    .menu-page{
        display: block;
        
    }
}


@media (max-width: 1180px) and (min-width: 960px){

   
    
    .mobile-nav-elements ul li{
       
        font-size: 4vw;
        margin-top: 10px;
 
    }


}



@media (max-width: 960px) and (min-width: 769px){

   

    .no-user-mobile{
        width: 80%;
    }

    .mobile-nav-elements ul li{
       
        font-size: 4.5vw;
 
    }

    .menu-mobile-elements{
        margin-top: 4%;
        margin-right: 10px;
    }

    .user-menu-header{        
        padding: 8px;
    }


}


@media (max-width: 769px) and (min-width: 600px){

    .no-user-mobile{
        width: 80%;
    }

    .mobile-nav-elements ul li{
       
        font-size: 5vw;
 
    }

    .menu-mobile-elements{
        margin-top: 5%;
        margin-right: 5px;
    }

    .user-menu-header{        
        padding: 4px;
    }

    .mobile-logout{
        font-size: 6vw;
    }

    .profile-mobile a{
        font-size: 4.5vw;
    }

    .profile-mobile-logout{
        font-size: 4.5vw;
    }


}


@media (max-width: 600px) and (min-width: 520px){



    
    .no-user-mobile{
        width: 80%;
    }

    .mobile-nav-elements ul li{
       
        font-size: 6vw;
 
    }

    .menu-mobile-elements{
        margin-top: 7%;
    }

    .user-menu-header{        
        padding: 4px;
    }

    .mobile-logout{
        font-size: 6.75vw;
    }

    .profile-mobile a{
        font-size: 5.5vw;
    }

    .profile-mobile-logout{
        font-size: 5.5vw;
    }

}

@media (max-width: 520px) and (min-width: 440px){
    
   

    .no-user-mobile{
        width: 80%;
    }

    .mobile-nav-elements ul li{
       
        font-size: 6vw;
        margin-top: 10px;
 
    }

    .menu-mobile-elements{
        margin-top: 7%;
        
    }

    .user-menu-header{        
        padding: 4px;
    }

    .mobile-logout{
        font-size: 7vw;
    }

    .profile-mobile a{
        font-size: 6.25vw;
    }

    .profile-mobile-logout{
        font-size: 6.25vw;
    }

 

}

@media (max-width: 440px) and (min-width: 376px){

   
   

    .no-user-mobile{
        width: 80%;
    }


    .mobile-nav-elements ul li{
       
        font-size: 6vw;
        margin-top: 10px;
 
    }

    .menu-mobile-elements{
        margin-top: 9%;
        margin-right: 5px;
    }

    .header-close-menu{
        fill: #fff;
        width: 80%;
    
    }

    .user-menu-header{        
        padding: 4px;
    }

    .mobile-logout{
        font-size: 8vw;
    }

    .profile-mobile a{
        font-size: 7vw;
    }

    .profile-mobile-logout{
        font-size: 7vw;
    }

 

}

@media (max-width: 376px) and (min-width: 280px){

  

    .user-mobile{
        width: 100%;
        
    }

    .no-user-mobile{
        width: 100%;
        
    }


    .mobile-nav-elements ul li{
       
        font-size: 7.5vw;
        margin-top: 10px;
 
    }

    .menu-mobile-elements{
        margin-top: 12%;
        margin-right: 5px;
    }

    .header-close-menu{
        fill: #fff;
        width: 80%;
    
    }

    .user-menu-header{        
        padding: 4px;
    }

    .mobile-logout{
        font-size: 8vw;
    }

    .profile-mobile a{
        font-size: 7.5vw;
    }

    .profile-mobile-logout{
        font-size: 7.5vw;
    }

}






