
.user-menu-page{
    display: none;
    position: absolute;  
    transform: translateX(200%);
    top: 15%;
    width: 55%;
    height: 85%;
    background: #1A272A;
    z-index: 5;
    font-family: 'Industry';
    
}

.menu-page{
    display: none;
    position: absolute;
    top: 12%;
    right: 0;
    width: 55%;
    height: 90%;
    background: #1A272A;
    z-index: 20;
    font-family: 'Industry';
   
}

.mobile-m-open{
    animation: m-m-open 1s forwards;
}

.mobile-m-close{
    animation: m-m-close 1s forwards;
}

.user-mobile{

    width: 60%;
    height: 60%;
    margin: 120px auto;
    padding: 20px;
    color: #fff;
    font-size: 1.375em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.profile-mobile{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
   
}

.profile-mobile-links{
    width: 100%;
    height: fit-content;
    padding: 20px 20px;
    text-align: center;
    margin-top: 10px;
    transition: all 0.7s ease-in-out;
}

.profile-mobile-links:hover{
    background: #1DAE8C;
    color: #fff;
}

.profile-mobile a{
    text-decoration: none;
    color: #fff;

}

.profile-mobile-logout{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: fit-content;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;

}
.profile-logout{
    text-align: center;

}
.profile-mobile-logout:hover{
    background: #1DAE8C;
    color: #fff;
}

.mobile-logout{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: fit-content;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.no-profile-logout{
    text-align: center;
    
}

.mobile-logout:hover{
    background: #1DAE8C;
    color: #fff;
}

.no-user-mobile{

    width: 60%;
    height: 60%;
    margin: 120px auto;
    padding: 20px;
    color: #fff;
    text-align: center;
        
}

.mobile-nav-elements ul li{
    list-style: none;
    color: #fff;
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.mobile-nav-elements ul li:hover{
    background: #1DAE8C;
    color: #fff;
}

.mobile-nav-elements a{
    text-decoration: none;
}



@keyframes m-m-open {
    100% { transform: translateX(64%);}
}

@keyframes m-m600-open {
    100% { transform: translateX(38%);}
}

@keyframes m-m520-open {
    100% { transform: translateX(20%);}
}

@keyframes m-m440-open {
    100% { transform: translateX(6%);}
}

@keyframes m-m375-open {
    100% { transform: translateX(-10%);}
}


@keyframes m-m-close {
    0% { transform: translateX(65%);}
    100% { transform: translateX(200%);}
}




.other-m-dropdown{
    position: absolute;
    top: 15%;
    transform: translateX(200%);
    width: 55%;
    height: 85%;
    z-index: 50;
    border: 1px solid white;
}

.mobile-od-open{
    animation: om-open 1s forwards;
  }

  .mobile-od-close{
    animation: om-close 1s forwards;
  }

  @keyframes om-open {
    100% { transform: translateX(64%);}
  }


  @keyframes om-close {
      0% { transform: translateX(90%);}
      100% { transform: translateX(200%);}
  }





















@media (max-width: 1180px) and (min-width: 0px){
    .user-menu-page{
        display: block;        
        
    }

    .menu-page{
        display: block;
        /* top: 9%;
        right: 0; */
    }
}


@media (max-width: 1180px) and (min-width: 960px){

    /* .user-menu-page{
        top: 15%;
        
    }
    
    .menu-page{
   
        top: 9%;
        
    } */
    
    .mobile-nav-elements ul li{
       
        font-size: 2.75vw;
        margin-top: 10px;
 
    }


}



@media (max-width: 960px) and (min-width: 769px){

    /* .user-menu-page{
        top: 10%;
        width: 80%;
        
    }
    
    .menu-page{   
        top: 10%;
        width: 80%;

        
    } */

    .no-user-mobile{
        width: 80%;
    }

    .mobile-nav-elements ul li{
       
        font-size: 4vw;
 
    }


}

@media (max-width: 769px) and (min-width: 600px){

    .user-menu-page{
        width: 65%;
        
    }
    
    .menu-page{   
        width: 80%;
        
    }

    .mobile-m-open{
        animation: m-m600-open 1s forwards;
    }
    
    .no-user-mobile{
        width: 80%;
    }

    .mobile-nav-elements ul li{
       
        font-size: 4.5vw;
 
    }


}


@media (max-width: 600px) and (min-width: 520px){

    .user-menu-page{
        width: 75%;
        
    }
    
    .menu-page{   
        width: 80%;
        
    }

    .mobile-m-open{
        animation: m-m520-open 1s forwards;
    }
    
    .no-user-mobile{
        width: 80%;
    }

    .mobile-nav-elements ul li{
       
        font-size: 4.5vw;
 
    }


}

@media (max-width: 520px) and (min-width: 440px){
    
    .user-menu-page{
        width: 85%;

    }
    
    .menu-page{   
        width: 80%; 
    }

    .mobile-m-open{
        animation: m-m440-open 1s forwards;
    }
    
    
    .no-user-mobile{
        width: 80%;
    }

    .mobile-nav-elements ul li{
       
        font-size: 3.5vw;
        margin-top: 10px;
 
    }


}

@media (max-width: 440px) and (min-width: 376px){

    .user-menu-page{
        width: 100%;
  
    }
    
    .menu-page{   
        width: 100%;
  
    }

    .mobile-m-open{
        animation: m-m375-open 1s forwards;
    }

    .no-user-mobile{
        width: 80%;
    }


    .mobile-nav-elements ul li{
       
        font-size: 6vw;
        margin-top: 10px;
 
    }


}

@media (max-width: 376px) and (min-width: 280px){

    .user-menu-page{
        width: 100%;
      
    }
    
    .menu-page{   
        width: 100%;
   
    }

    .mobile-m-open{
        animation: m-m375-open 1s forwards;
    }

    .user-mobile{
        width: 100%;
        
    }

    .no-user-mobile{
        width: 100%;
        
    }


    .mobile-nav-elements ul li{
       
        font-size: 7.5vw;
        margin-top: 10px;
 
    }

}






