.dropdown_page{
    position: absolute;
    transform: translateY(-200%);
    left: 0;
    background: transparent linear-gradient(180deg, #D9DADC 0%, #CBD0D6 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    z-index: 3;
    
}

.open{
    animation: open 1s forwards;
}
.account-open{
    animation: a-open 1s forwards;

}

.dropdown_page.close{
    position: absolute;
    left: 0;
    background: transparent linear-gradient(180deg, #D9DADC 0%, #CBD0D6 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: close 1s forwards;
}

@keyframes open {
    100% { transform: translateY(0%);}
}

@keyframes a-open {
    100% { transform: translateY(-5%);}
}

@keyframes close {
    0% { transform: translateY(0%);}
    100% { transform: translateY(-200%);}
}

.mobile-dropdown-page{
    background: #1A272A;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in;
    
}


.close_icon{
    position: absolute;
    top: 46.9px;
    right: 0;
    cursor: pointer;
}

.dropdown_content{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 9.1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-family: 'Industry';

}

.mobile-dropdown-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.1fr 1fr 1fr;
    font-family: 'Industry';
    row-gap: 0.2fr;
   
}



.signup_client{
    grid-column: 1 / 2;
    grid-row: 2/3;
    padding: 40px 0;
}


.close-menu-down{
    grid-column: 5 / 6;
    grid-row: 1/2;
    color: #F7DD95;
    font-family: 'Aviano', 'Spectral SC', 'Cormorant SC', 'serif';
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
    font-size: 0.875em;

}


.mobile-signup-client{
    grid-column: 1 / 6;
    grid-row: 2/3;
    align-self: center;
    padding-bottom: 20px 0;
   
}

/* .signup_items{
    width: 100%;
} */

.signup_items a{
    font-size: 2.75vw;
    text-decoration: none;
    color: #1A272A;
    
}

.mobile-signup-items a{
   
    text-decoration: none;
    color: #F7DD95;
    text-align: center;
}



.line{
    width: 400px;
    height: 1px;
    background: #1A272A;
    margin: 0 0 0 35px;
}

.signup_trainer{
    grid-column: 2 / 3;
    grid-row: 3/4;
    
  
}

.mobile-signup-trainer{
    grid-column: 1 / 6;
    grid-row: 3/4;
    padding: 20px 0;

}

.signup_links:hover{
    opacity: 0.7;
}

.mobile-signup-links:hover{
    opacity: 0.7;
}
/* .signup_trainer_items{
    align-items: flex-end;
} */


@media (max-width: 1180px) and (min-width: 0px){
    .dropdown_page{
        display: none;
    }
}

@media (max-width: 1180px) and (min-width: 960px){
    .mobile-signup-items a{
        font-size: 3vw;
        
    }
}

@media (max-width: 960px) and (min-width: 840px){
    
    .mobile-signup-items a{
        font-size: 3.5vw;
        
    }
}

@media (max-width: 840px) and (min-width: 769px){
    
    .mobile-signup-items a{
        font-size: 4vw;
        
    }
}


@media (max-width: 769px) and (min-width: 600px){
   
    .mobile-signup-items a{
        font-size: 5vw;
        
    }
}

@media (max-width: 600px) and (min-width: 520px){
   

    .mobile-signup-items a{
        font-size: 5vw;
        
    }
}

@media (max-width: 520px) and (min-width: 440px){
   
    .mobile-signup-items a{
        font-size: 6vw;
        
    }
}

@media (max-width: 440px) and (min-width: 376px){
 
    .mobile-signup-items a{
        font-size: 6.5vw;
        
    }
}

@media (max-width: 376px) and (min-width: 280px){
   
    .mobile-signup-items a{
        font-size: 7vw;
        
    }
}